/* AdminDashboard.css */
.admin-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 3px;
    background-color: #f0f4f8;
    font-family: 'Arial', sans-serif;
}

.admin-page-container {
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 1000px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
}

.admin-nav-bar {
    background-color: #074E9F;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
    border-bottom: 3px solid #06397b;
}

.nav-link {
    width:80px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
}

.nav-link:hover {
    background-color: #06397b;
    color: #fff;
}

button {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #06397b;
    color: #fff;
}

.admin-content {
    flex: 1;
    padding: 20px;
    background-color: #fafbfc;
    overflow-y: auto;
}

.welcome-banner {
    text-align: center;
    margin-bottom: 20px;
}

.welcome-banner h1 {
    font-size: 36px;
    color: #074E9F;
    margin-bottom: 10px;
}

.welcome-banner p {
    font-size: 18px;
    color: #555;
}
