
.admin-page-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 800px;
}

.admin-nav-bar {
    background-color: #074E9F;
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: #074E9F;
    color: #fff;
}

.admin-content {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
    overflow-y: auto;
}
