/* AllReports.css */
.all-reports-container {
    padding: 20px;
    background-color: white;
}

.all-reports-container h3 {
    color: #074E9F;
}

.all-reports-container ul {
    list-style-type: none;
    padding: 0;
}

.all-reports-container li {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}
