
/* src/components/User.css */
.user-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.user-container h2 {
    margin-bottom: 10px;
}

.user-container ul {
    list-style-type: none;
    padding: 0;
}

.user-container ul li {
    margin-bottom: 10px;
}

.user-container ul li a {
    display: block;
    padding: 10px;
    background-color: #074E9F;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}

.user-container ul li a:hover {
    background-color: #074E9F;
}

